* {
	border-radius: 0 !important;
}

body {
	background: #343a40;
	display: none;
}

input {
	background: rgba(0, 0, 0, .25) !important;
	border-color: transparent !important;
	color: var(--light) !important;
	height: 35px !important;
	font-weight: bold !important;
}

input:focus {
	box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25) !important;
}

button {
	font-weight: bold !important;
	border-width: 3px !important;
}

button:focus {
	box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25) !important;
}

table {
	background: rgba(0, 0, 0, .2) !important;
	overflow: hidden !important;
}

td {
	border: none !important;
}

tr {
	transition: .3s ease;
}

caption {
	font-weight: bold;
}

.table-wrapper {
	transition: .3s ease;
}

.sticky-table {
	background: rgba(0, 0, 0, .7) !important;
}